.btn{
  border: 0;
  outline: 0;
  background: var(--primary-color);
  color: var(--nav-bg-scrolled);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.6rem;
  padding: 1.2rem;
 
}
.btn:hover{
  background-color: var(--primary-color-02);
}