.featured-section{
  background-color: #f6f6f6;  
}
.container-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}
.container-header h2{
font-size: 32px;
	line-height: 25px;
}
.container-header p{
font-size: 16px;
}

.container-card{
    padding-top: 20px;
display: flex;
justify-content: space-between;
gap: 20px;


}
.mt-4{
  
  flex: 1 1 0;
  max-width: 33.333%; 
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
}

.card-icon {
	font-size: 60px;
	color: var(--primary-color-02);
}
.card-title{
font-size: 18px;
}
.card-desc{
font-size: 14px;
font-weight: 300;
}

/* Responsive */
@media (max-width: 768px) {
  .container-card {
    flex-direction: column;
    gap: 16px;
  }
  .mt-4 {
    max-width: 100%;
    flex: 1 1 100%;
  }
}